body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.about-div {
    padding-top: 50px;
    width: 100%;
    background-image: url('../assets/images/IKEA-Swedish-Restaurant.jpg');
    background-color: #0f0f0f;
    background-size: 100%;
    background-blend-mode: multiply;
    height: 745px;
}

.contact-title {
    font-family: 'Futura PT ExtraBold';
    font-size: 50px;
    color: white;
}

.flex-box {
    display: flex;
    justify-content: center;
}

.flex-box > div {
    background-color: #0051ba;
    width: 15%;
    padding: 20px;
    margin: 0.8%;
    border-radius: 10px;
    text-align: center;
}