body {
    margin: 0;
}
#header-info {
    font-family: "Futura PT ExtraBold";
    font-size: 100px;
    text-align: center;
    color:aliceblue
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    background-color: DodgerBlue;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    width: 20%;
    height: 400px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}