<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="author" content="Roy Canseco">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    

<!-- W3.CSS and W3.JS -->      
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/graph.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/custom_fonts.css')}}">

<!-- Mermaid Diagrams -->   
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ 
            startOnLoad: true,
            securityLevel: 'loose' 
        });
    </script>
    
<!-- Latex Math -->  
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script> 

<!-- Data Tables -->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

      <script>
    $(document).ready( function () {
        $('#table_id').DataTable([
        ]);
    } );
    </script>



<body>

<!-- Navigation (Stays on Top) -->
<!-- <div class="w3-top w3-bar w3-black">
  <a href="{{ url_for('index')}}" class="w3-bar-item w3-button">Home</a>
  <a href="{{ url_for('static', filename='about.html')}}" class="w3-bar-item w3-button">About</a>
  <a href="{{ url_for('static', filename='members.html')}}" class="w3-bar-item w3-button">Members</a>
  <a href="{{ url_for('static', filename='contact.html')}}" class="w3-bar-item w3-button">Contact</a>
</div> -->
<div class="navbar" style="background-color:white;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Ikea_logo.svg/100px-Ikea_logo.svg.png" style="width: 6.4%; height: 6.4%; padding:9px 10px 0px 10px; float:left;">
    <p>I KNOW EVERY AREA</p>
    <a href="{{url_for('static',filename='/html/homepage.html')}}">HOME</a>
    <a href="{{url_for('static',filename='/html/about.html')}}">ABOUT</a>
    <a class="active" href="#">MAP</a>
    <a href="{{url_for('static',filename='/html/contact.html')}}">CONTACT</a>
</div>
<div class="info-box">
    <h1 id="location-title">Select a Location by clicking a node.</h1>
    <div>
        <img id="location-image" style="width:100%">
    </div>
    <p id="location-information"></p>
</div>
<div class="graph-box">
    <h1 style="font-family: Futura PT; font-weight: bold;">IKEA 4th Floor: Showroom</h1>
    <div class="w3-container w3-padding-32" style="width: 100%; height: 700px;">
        {{result |safe }}
        <script type="text/javascript">
            var callback = function(x){
                var data = [{
                    "IKEA-Locations": {
                        "Entrance": {
                            "name": "Entrance",
                            "description": "Welcome to IKEA! This is the entrance to the Showroom, which contains sample living spaces. Happy shopping!",
                            "image": "../static/assets/images/graph_photos/Entrance.jpg"
                        },
                        "Living-Room": {
                            "name": "Living Room",
                            "description": "Welcome to the Living Room! This room contains examples of how you can organize your IKEA furniture.",
                            "image": "../static/assets/images/graph_photos/Living-Room.jpg"
                        },
                        "Childrens-IKEA": {
                            "name": "Children's IKEA",
                            "description": "Welcome to the Children's IKEA! From stuffed toys to LEGOs, it have everything that a child needs (or wants).",
                            "image": "../static/assets/images/graph_photos/Childrens-IKEA.jpg"
                        },
                        "Swedish-Restaurant": {
                            "name": "Swedish Restaurant",
                            "description": "Hej! Are you hungry? So are we. Thankfully, there's a restaurant here serving more than just our favorite meatballs. Eat up!",
                            "image": "../static/assets/images/graph_photos/Swedish-Restaurant.jpg"
                        },
                        "Living-Room-Storage": {
                            "name": "Living Room Storage",
                            "description": "Need cabinets and cupboards to cover your living room? Look no further! Visit the Living Room Storage today.",
                            "image": "../static/assets/images/graph_photos/Living-Room-Storage.jpg"
                        },
                        "Workspaces": {
                            "name": "Workspaces",
                            "description": "Need inspiration for work stations that you can use to cram your next Computer Science project? This is the place for you!",
                            "image": "../static/assets/images/graph_photos/Workspaces.jpg"
                        },
                        "Dining-Room": {
                            "name": "Dining Room",
                            "description": "Need a update to your dining room? While we can't fix your cooking, we can absolutely enhance your dining experience.",
                            "image": "Null"
                        },
                        "Planning-Studio": {
                            "name": "Planning Studio",
                            "description": "Need someone to bring your ideas to life? Feel free to drop by the Planning Studio!",
                            "image": "Null"
                        },
                        "Kitchen": {
                            "name": "Kitchen",
                            "description": "A beautiful home needs beautiful food to be served. Drop by and improve your kitchen today! (Cooking skills not included.)",
                            "image": "../static/assets/images/graph_photos/Kitchen.jpg"
                        },
                        "Bathroom-Furniture": {
                            "name": "Bathroom Furniture",
                            "description": "Our products separate a good bath from a great bath. Stop by and get top-of-the-line bathroom furniture today!",
                            "image": "../static/assets/images/graph_photos/Bathroom.jpg"
                        },
                        "Bedroom": {
                            "name": "Bedroom",
                            "description": "Sleepy? We got you covered, kinda. We got beds, blankets, pillows, and many more. Just make sure you don't sleep here.",
                            "image": "../static/assets/images/graph_photos/Bedroom.jpg"
                        },
                        "Wardrobe-and-Storage": {
                            "name": "Wardrobe And Storage",
                            "description": "Need even more storage? Visit the Wardrobe and Storage section today! From closets to cabinets, we got you covered.",
                            "image": "Null"
                        }
                    }
                }];
                
                var location_data = data[0]["IKEA-Locations"][x];
                document.getElementById("location-title").innerHTML = location_data["name"];
                document.getElementById("location-image").src = location_data["image"];
                document.getElementById("location-information").innerHTML = location_data["description"];
            }
        </script>
    </div>
</div>

</body>

</html>